.header img{
    height: 80px;
}
.header{
    text-align: right;
   
}.header nav{
    background-color: rgb(162, 0, 255);
    line-height: 40px;
    font-size: 20px;
    
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 3%;
    padding: 6px;
}
nav a:hover{
    background-color: gray;
}